@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

body{
  font-family: "Sora", sans-serif;
}

.first-section{
  background: linear-gradient(90.35deg, #030414 0.36%, #351C39 69.82%);
  min-height: 750px;
}

.section-width{
  margin: 0 90px;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(90.35deg, #030414 0.36%, #351C39 69.82%);
  z-index: 1000;
  margin-top: -10px;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.nav-child:nth-child(1){
  /* border: 2px solid orange; */
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-child:nth-child(1) img{
  /* border: 2px solid red; */
  width: 25px;
}

.nav-child:nth-child(1) > p{
  font-family: "Orbitron", sans-serif;
  color: #ffff;
  font-size: 18px;
  font-weight: 700;
}

.nav-child:nth-child(2){
  /* border: 2px solid red; */
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav-anchor:nth-child(1) a,
.nav-anchor:nth-child(2) a,
.nav-anchor:nth-child(3) a,
.nav-anchor:nth-child(4) a,
.nav-anchor:nth-child(5) a{
  /* border: 2px solid white; */
  text-decoration: none;
  color: #ffff;
}

.nav-anchor:nth-child(6){
  background: linear-gradient(90deg, #174993 0%, #892CAE 100%);
  border-radius: 20px;
  position: relative;
  padding: 10px 40px 10px 10px;
}

.nav-anchor:nth-child(6) a{
  color: #ffff;
  text-decoration: none;
  
}

.nav-anchor:nth-child(6) > img{
  /* border: 2px solid red; */
  position: absolute;
  right: 10px;
  bottom: 8px;
}

.nav-anchor:nth-child(7) {
  border: 2px solid transparent;
  padding: 10px 40px 10px 10px;
  border-radius: 20px;
  position: relative;
}
.nav-anchor:nth-child(7) a{
  text-decoration: none; 
  color: #ffff;
}

.nav-anchor:nth-child(7) > img{
  position: absolute;
  right: 10px;
  bottom: 8px;
}

.grid-container{
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.grid-child{
  color: white;
}

.grid-child:nth-child(1) p:nth-child(1){
  font-family: "Orbitron", sans-serif;
  color: #FFFFFF;
  font-size: 64px;
  font-weight: 600;
  width: 620px;
  height: 160px;
  /* border: 2px solid red; */
} 

.grid-child:nth-child(1) p:nth-child(2){
  width: 700px;
  height: 40px;
  padding: 10px 0;
  font-size: 18px;
}

.grid-anchor{
  margin-top: 40px;
}

.grid-anchor a:nth-child(1){
  background: linear-gradient(90deg, #174993 0%, #892CAE 100%);
  border-radius: 20px;
  position: relative;
  padding: 10px 33px 10px 10px;
  text-decoration: none;
  color: #FFFFFF;
}

.grid-anchor a:nth-child(1)> img{
  /* border: 2px solid red; */
  position: absolute;
  right: 10px;
  bottom: 8px;
}

.grid-anchor a:nth-child(2){
  border: 2px solid transparent;
  padding: 10px 40px 10px 10px;
  border-radius: 20px;
  position: relative;
  text-decoration: none; 
  color: #ffff;
}

.grid-anchor a:nth-child(2) > img{
  position: absolute;
  right: 10px;
  bottom: 8px;
}

.grid-child:nth-child(2) img{
  /* border: 2px solid green; */
  width: 980px;
  padding-bottom: 30px;
  
}

.second-section{
  background: linear-gradient(to right, #3b203f 0%, #211329 40%, #050513 75%);
  /* min-height: 3000px; */
}

.aboutus-container{
  display: flex;
  padding: 60px 0 40px 0;
  color: #FFFFFF;
  align-items: center;
  margin: 0 250px;
  gap: 60px;
  /* border: 2px solid red; */
}

.aboutus-child:nth-child(1) > img{
  /* border: 2px solid green; */
  flex: 1;
  width: 100%;
  height: 700px;
}

.aboutus-child:nth-child(2){
  /* border: 2px solid pink; */
  flex: 1;

}

.aboutus-child:nth-child(2) p:nth-child(1){
  font-family: "Orbitron", sans-serif;
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 20px;
  /* margin-left: -90px; */
}

.aboutus-child:nth-child(2) p:nth-child(2){
  font-weight: 600;
  font-size: 24px;
  padding-bottom: 15px;
}

.aboutus-child:nth-child(2) p:nth-child(3){
  font-size: 16px;
}

.aboutus-anchor{
  margin-top: 40px;
}

.aboutus-anchor a:nth-child(1){
  background: linear-gradient(90deg, #174993 0%, #892CAE 100%);
  border-radius: 20px;
  position: relative;
  padding: 10px 33px 10px 10px;
  text-decoration: none;
  color: #FFFFFF;
}

.aboutus-anchor a:nth-child(1)> img{
  /* border: 2px solid red; */
  position: absolute;
  right: 10px;
  bottom: 8px;
}

.aboutus-anchor a:nth-child(2){
  border: 2px solid transparent;
  padding: 10px 40px 10px 10px;
  border-radius: 20px;
  position: relative;
  text-decoration: none; 
  color: #ffff;
}

.aboutus-anchor a:nth-child(2) > img{
  position: absolute;
  right: 10px;
  bottom: 8px;
}

.features-text{
  width: 1300px;
  margin: 0 auto;
  color: #ffff;
}

.feature-image{
  width: 1000px;
  margin: 0 auto;
  color: #FFFFFF;
  position: relative;
}


.features-text p:nth-child(1){
  padding: 0 0 0 50px;
  font-size: 36px;
  font-weight: 600;
  font-family: "Orbitron", sans-serif;
}

.feature-image img{
  width: 100%;
  margin-top: -400px;
  /* object-fit: cover; */
}

.roundabout-text1{
  background: #434141;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 20px;
  display: inline-block;
  height: 132px;
  width: 296px;
  padding: 15px 10px 15px 10px;
  position: absolute;
  top: 90px;
  left: 185px;
  height: 132px;
}

.roundabout-text1 p:nth-child(1),
.roundabout-text2 p:nth-child(1),
.roundabout-text3 p:nth-child(1),
.roundabout-text4 p:nth-child(1),
.roundabout-text5 p:nth-child(1),
.roundabout-text6 p:nth-child(1){
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #ffff;
  padding-bottom: 10px;
}

.roundabout-text1 p:nth-child(2),
.roundabout-text2 p:nth-child(2),
.roundabout-text3 p:nth-child(2),
.roundabout-text4 p:nth-child(2),
.roundabout-text5 p:nth-child(2),
.roundabout-text6 p:nth-child(2){
  padding-top: 10px;
  font-size: 14px;
}

.roundabout-text2{
  background: #434141;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 20px;
  display: inline-block;
  position: absolute;
  top: 75px;
  left: 550px;
  height: 132px;
  width: 278px;
  padding: 15px 10px 15px 10px;
}

.roundabout-text3{
  background: #434141;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 20px;
  display: inline-block;
  padding: 10px;
  position: absolute;
  top: 290px;
  left: 730px;
  height: 132px;
  width: 280px;
  padding: 15px 10px 15px 10px;
}

.roundabout-text4{
  background: #434141;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 20px;
  display: inline-block;
  width: 295px;
  height: 122px;
  padding: 10px;
  position: absolute;
  top: 570px;
  left: 570px;
}

.roundabout-text5{
  background: #434141;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 20px;
  display: inline-block;
  position: absolute;
  top: 560px;
  left: 200px;
  height: 148px;
  width: 278px;
  padding: 15px 10px 15px 10px;
}

.roundabout-text6{
  background: #434141;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 20px;
  display: inline-block;
  position: absolute;
  top: 290px;
  left: 20px;
  height: 132px;
  width: 323px;
  padding: 15px 10px 15px 10px;
}

.usecases{
  margin-top: -150px;
}

.usecases-header p:nth-child(1){
  font-family: "Orbitron", sans-serif;
  color: #ffff;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}

.usecases-header p:nth-child(2){
  color: #ffff;
  text-align: center;
}

.usecases-container{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: #ffff;
  gap: 40px;
}

.usecases-child:nth-child(1),
.usecases-child:nth-child(2){
  background: #0304144D;
  box-shadow: 0px 4px 4px 0px #00000040;
  width: 310px;
  height: 210px;
  border-radius: 20px;
  padding: 30px 10px 30px 10px;
}

.usecases-child:nth-child(1) p:nth-child(2),
.usecases-child:nth-child(2) p:nth-child(2),
.usecases-child:nth-child(3) p:nth-child(2),
.usecases-child:nth-child(4) p:nth-child(2){
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 8px 0;
  border-bottom: 1px solid #ffff;
}

.usecases-child:nth-child(1) p:nth-child(3),
.usecases-child:nth-child(2) p:nth-child(3),
.usecases-child:nth-child(3) p:nth-child(3),
.usecases-child:nth-child(4) p:nth-child(3){
  padding: 8px 0;
  /* background: #9CA3AF; */
  color: #9CA3AF;
  font-size: 14px;
}

.usecases-child:nth-child(1) a:nth-child(4),
.usecases-child:nth-child(2) a:nth-child(4),
.usecases-child:nth-child(3) a:nth-child(4),
.usecases-child:nth-child(4) a:nth-child(4){
  background: linear-gradient(90deg, #892CAE 0%, #174993 100%);
  text-decoration: none;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  position: relative;
}

.usecases-child:nth-child(1) a:nth-child(4) > img,
.usecases-child:nth-child(2) a:nth-child(4) > img,
.usecases-child:nth-child(3) a:nth-child(4) > img,
.usecases-child:nth-child(4) a:nth-child(4) > img{
  position: absolute;
  right: -30px;
}

.usecases-child:nth-child(3),
.usecases-child:nth-child(4){
  background: #892CAE4D;
  box-shadow: 0px 4px 4px 0px #00000040;
  width: 310px;
  height: 210px;
  border-radius: 20px;
  padding: 30px 10px 30px 10px;
}

.pricing-header p:nth-child(1){
  font-family: "Orbitron", sans-serif;
  color: #ffff;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  margin-top: 60px;
}

.pricing-header p:nth-child(2){
  color: #ffff;
  text-align: center;
}

.pricing-container{
  display: flex;
  justify-content: center;
  margin-top: 35px;
  color: #FFFFFF;
  gap: 40px;
}

.pricing-child:nth-child(1){
  background: #0000004D;
  box-shadow: 0px 4px 4px 0px #00000040;
  width: 420px;
  height: 380px;
  border-radius: 20px;
  padding: 60px 20px;
}

.pricing-child:nth-child(1) p:nth-child(1),
.pricing-child:nth-child(2) p:nth-child(1),
.pricing-child:nth-child(3) p:nth-child(1){
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.pricing-child:nth-child(1) p:nth-child(2),
.pricing-child:nth-child(2) p:nth-child(2),
.pricing-child:nth-child(3) p:nth-child(2){
  font-size: 36px;
  font-weight: 700;
  padding: 10px 0;
}

.pricing-child:nth-child(1) p:nth-child(2) > span,
.pricing-child:nth-child(2) p:nth-child(2) > span{
  font-size: 14px;
  font-weight: 400;
  color: #434141;
}

.pricing-child:nth-child(1) p:nth-child(3),
.pricing-child:nth-child(1) p:nth-child(4),
.pricing-child:nth-child(1) p:nth-child(5),
.pricing-child:nth-child(1) p:nth-child(6),
.pricing-child:nth-child(2) p:nth-child(3),
.pricing-child:nth-child(2) p:nth-child(4),
.pricing-child:nth-child(2) p:nth-child(5),
.pricing-child:nth-child(2) p:nth-child(6),
.pricing-child:nth-child(3) p:nth-child(3),
.pricing-child:nth-child(3) p:nth-child(4),
.pricing-child:nth-child(3) p:nth-child(5),
.pricing-child:nth-child(3) p:nth-child(6){
  /* border: 2px solid white; */
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 8px;
}

.pricing-child:nth-child(1) p:nth-child(3) > img,
.pricing-child:nth-child(1) p:nth-child(4) > img,
.pricing-child:nth-child(1) p:nth-child(5) > img,
.pricing-child:nth-child(1) p:nth-child(6) > img,
.pricing-child:nth-child(2) p:nth-child(3) > img,
.pricing-child:nth-child(2) p:nth-child(4) > img,
.pricing-child:nth-child(2) p:nth-child(5) > img,
.pricing-child:nth-child(2) p:nth-child(6) > img,
.pricing-child:nth-child(3) p:nth-child(3) > img,
.pricing-child:nth-child(3) p:nth-child(4) > img,
.pricing-child:nth-child(3) p:nth-child(5) > img,
.pricing-child:nth-child(3) p:nth-child(6) > img{
  /* border: 2px solid pink; */
  padding-right: 10px;
}

.pricing-child:nth-child(1) a:nth-child(7),
.pricing-child:nth-child(3) a:nth-child(7){
  text-decoration: none;
  text-align: center;
  display: block;
  border: 1px solid transparent;
  border-radius: 20px;
  color: #ffff;
  /* background:
  linear-gradient(transparent, transparent) padding-box,
  linear-gradient(90deg, #174993 0%, #892CAE 100%) border-box; */
  margin-top: 20px;
}

.pricing-child:nth-child(2){
  background: linear-gradient(180deg, rgba(147, 51, 234, 0.06) 0%, rgba(79, 70, 229, 0.06) 100%);
  box-shadow: 0px 4px 7.2px 0px #00000040;
  width: 420px;
  height: 380px;
  border-radius: 20px;
  padding: 60px 20px;
}

.pricing-child:nth-child(2) a:nth-child(7){
  background: linear-gradient(90deg, #174993 0%, #892CAE 100%);
  border-radius: 20px;
  position: relative;
  padding: 10px 33px 10px 10px;
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 20px;
  display: block;
  text-align: center;
}

.pricing-child:nth-child(2) a:nth-child(7) > img{
  /* border: 2px solid red; */
  position: absolute;
  right: 125px;
  bottom: 8px;
}

.pricing-child:nth-child(3){
  background: #892CAE4D;
  box-shadow: 0px 4px 4px 0px #00000040;
  width: 420px;
  height: 380px;
  border-radius: 20px;
  padding: 60px 20px;
  margin-bottom: 70px;
}

footer{
  background: #03041480;
  color: #ffff;
}

.footer-container{
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.footer-child:nth-child(1){
  border: 2px solid brown;
}

.child1-header{
  display: flex;
}

.child1-header span{
  color: red;
  padding-top: 7px;
}

.footer-child:nth-child(12){
  border: 2px solid green;
}

.footer-child:nth-child(3){
  border: 2px solid blue;
}

.footer-child:nth-child(4){
  border: 2px solid yellow;
}

.footer-child:nth-child(5){
  border: 2px solid pink;
}


